<li>
<p>{{this.content}} <span> Name: {{user.username}}</span></p>
<p>Created: {{this.createdAt}}</p>
<form action="/posts/{{this.postId}}/comments/{{this.id}}/replies/new" method="POST">
  <textarea class='form-control' name="content" placeholder="Comment"></textarea>
  <div class="text-right">
    <button type="submit">Save</button>
  </div>
</form>
</li>
<ul>
{{#each this.comments}}
  {{> comments}}
{{/each}}
</ul>
