
<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <p>Profile</p>
    <p>First: {{user.firstName}}</p>
    <p>Last: {{user.lastName}}</p>
    <p>username: {{user.username}}</p>
    <p>email: {{user.email}}</p>
    <p>phone: {{user.phone}}</p>


      <a href="/trips/new" class="btn btn-primary">New Trip</a>
      <a href="/comments" class="btn btn-primary">Leave a comment</a>
    </div>
  </div>
