<a href="/trips/new">New Trip</a>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="list-group">
      {{#each trips}}
        <a href="/trips/{{this._id}}" class="list-group-item">
          San Francisco => Tahoe
          <h4>{{formatTime this.departsOn "dddd, MMM D"}} - {{this.departsInThe}}</h4>
          Tahoe => San Francisco
          <h4>{{formatTime this.returnsOn "dddd, MMM D"}} - {{this.returnsInThe}}</h4>
        </a>
      {{/each}}
    </div>
  </div>
</div>
