<a href="/">Back to Home</a>
<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <p>{{formatTime trip.departsOn "dddd, MMM D"}} - {{formatTime trip.returnsOn "dddd, MMM D"}}</p>
    <p>{{trip.departsInThe}}</p>
    <p>{{trip.returnsInThe}}</p>
    <a href="/trips/{{trip._id}}/edit" class="btn btn-primary">Edit</a>
    <a href="/profile/{{user._id}}" class="btn btn-primary">Your profile</a>
    <a href="/users/{{trip.user}}/trips/{{trip._id}}/reviews/new" class="btn btn-primary">Leave a Review</a>
  </div>
  <div class="col-sm-4 offset-sm-4">


   <p>{{comments}}</p>

  </div>
</div>
