<form method="POST" action="/profile">

  <h2>{{user.userName}}</h2>
  <h4>{{trip.origin}}</h4>
  <h4>{{trip.return}}</h4>
  <p>{{user.email}}</p>
  <p>{{user.phone}}</p>

  <a href="/trips/new">New Trip</a>

  <a href="/comment">Leave a comment</a>
